@using Modelos.Data;
@{
    List<DataUsuario> usuarios_ = (List<DataUsuario>)ViewData["usuarios"];
 }

<div class="container   mx-auto ">
    <div class="rounded-lg mt-3 text-center text-2xl bg-yellow-600 text-white font-bold py-5">
        Usuarios
    </div>
    Contraseña al restablecer: 123456789
    <div class=" mt-9 overflow-x-auto relative shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="py-3 px-6">
                        Numero
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Nombre
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Correo
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Rol
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Fiscalia
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Unidad
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Estatus
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Restablecer Constraseña
                    </th>
                </tr>
            </thead>
            <tbody>

                @foreach (var usuario in usuarios_)
                {
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        1
                    </th>
                    <td class="py-4 px-6">
                        @usuario.NombreCompleto
                    </td>
                    <td class="py-4 px-6">
                        @usuario.Correo
                    </td>
                    <td class="py-4 px-6">
                        @usuario.Rol
                    </td>
                    <td class="py-4 px-6">
                        @usuario.Fiscalia
                    </td>
                    <td class="py-4 px-6">
                        @usuario.Unidad
                    </td>
                    <td class="py-4 px-6">
                        @if (usuario.Estatus.Equals("True"))
                        {
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 fill-green-500">
                                <path fill-rule="evenodd" d="M19.916 4.626a.75.75 0 01.208 1.04l-9 13.5a.75.75 0 01-1.154.114l-6-6a.75.75 0 011.06-1.06l5.353 5.353 8.493-12.739a.75.75 0 011.04-.208z" clip-rule="evenodd" />
                            </svg>
                        }
                    </td>
                    <td class="py-4 px-6">
                        <a asp-controller="Acceso" asp-action="Restablecer" asp-route-Iduser="@usuario.Id" class="rounded-lg py-2 block bg-yellow-600">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white mx-auto">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 10.5V6.75a4.5 4.5 0 119 0v3.75M3.75 21.75h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H3.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z" />
                            </svg>
                        </a>
                    </td>
                </tr>
                   
                }
            </tbody>
        </table>
    </div>
</div>